@media screen and (min-width: 1600px;
) {
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-attachment: fixed;

}

header {
	margin-left: 10px;
}

h1 {
	text-align: center;
	font-family: Luminari;
}

h2 {
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	font-family: cursive;
	margin: 20px 0px;
}

h3 {
	font-family: cursive;
	font-size: 20px;
	margin-bottom: 0px;
}

h4 {
	margin: 10px 0px 0px 0px;
	font-size: 20px;
	text-align: center;
	font-family: cursive;
}

ul {
	list-style-type: none;
	padding: 0px;
}

footer {
	display: flex;
	background-color:rgba(0,0,0,0.5);
	text-align: center;
	margin: 0px 250px;
}

footer li, footer a{
	display: block;
	position: relative;
	color: #fff;
	text-align: left;
	font-size: 15px;
}

footer ul {
	margin: 0px auto;
	padding: 10px;
}

article>ul>a {
	display: block;
}

nav li {
	padding: 0px 20px;
}

a {
	text-decoration: none;
	color: #000000;
}

.active, .active>a {
	background-color: #000000;
	color: #ffffff;
}

.navigation {
	display: block;
	background-color: rgba(255, 255, 255, 0.5);
	border-right: 2.5px solid black;
	position: fixed;
	width: 250px;
	left: 0px;
	top: 0px;
}

.navigation li:hover:not(.active) {
	background-color: rgba(193,193,193,0.5);
	color: #ffffff;
}

.dropdownOpdrachten {
	list-style-type: none;
}

.wrapper {
	background-color: #a1a1a1;
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0px 250px;
}

.slides {
}

.left {
	position: absolute;
}

.slideshow {
	position: relative;
	width: 1080px;
	height: 400px;
}


#profielfoto {
	width: 45%;
	position: relative;
	left: 25%;
	border: 5px double #000000;
	margin-bottom: 20px;
}

#imgDriehoek {
	margin-top: 50px;
}

#imgGeert {
	margin-top: 20px;
}
#backHome {
	position: fixed;
	left: 15%;
	width: 60px;
	height: 60px;
	float: left;
	cursor: pointer;
}

#github {
	left: 70%;
}

#linkedIn {
	left: 75%;
}

#mail {
	left: 80%;
}

#merwelanden {
	width: 100%;
	height: 100%;
	float: left;
	border: 5px double #000000;
	margin: 0px 100px 20px 100px;
}

.title {
	text-align: center;
	margin: 25px 500px;
	font-size: 30px;
}

.block {
	position: relative;
	width: 400px;
	height: 350px;
	margin: 20px 0px;
	padding: 20px;
	border: 5px double #000000;
}

.miniBlock {
	margin: 20px 5px;
	display: inline-flex;
	width: 45%;
	height: 60%;
	border: 5px double #000000;
}

.bigblock {
	width: 800px;
	margin: 20px 0px;
	padding: 20px;
	border: 5px double #000000;
	text-align: center;
}

.image50{
	position: relative;
	left: 25%;
	width: 50%;

}

.imgOpdracht {
	width: 100%;
	height: 80%;
}
}
.image100 {
	width: 100%;
	height: 100%;
}

.imgOpleiding {
	width: 100%;
}

.imgRobotarm {
	width: 100%;
}

.imgGrid {
	width: 100%;
}

#back {
	position: absolute;
	left: 0px;
	width: 50px;
	height: 50px;
}

.grid {
	width: 90%;
	height: 40%;
	padding-bottom: 5px;
	margin: 0px 15px;

}

.cursive {
	font-family: cursive;
	font-size: 18px;
	display: block;
}

.link {
	color: #004fff;
}

.links {
	display: inline-block;
	font-size: 50px;
	margin:0px 5px;
}

.text {
	margin: 0 200px;
}

.buttons {
	position: absolute;
	font-size: 50px;
}

.buttons:hover {
	color: #004fff;
}
