<!DOCTYPE html>
<html>
	<head>
		<title>Alfa Romeo</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="icon" type="image/x-icon" href="img/icon.ico">
	</head>
	<body>
	<header>
		<h1 class="title"> <a href="index.html">Car News</a></h1>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="hobby.html">My Hobby</a></li>
				<li><a href="news.html">News</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<a onclick="window.history.back()"> 
				<img src="img/back_button.png" id="back" alt="img not readable"></a>			
			<article>
				<h1>Alfa Romeo 146</h1>
				<h4 class="text">Informatie</h4>
				<p class="text">
					De Alfa Romeo 146 is een kleine family auto geproduceerd door een Italiaans auto bedrijf “Alfa Romeo” in Pomigliano d’Arco. De 5 deur’s hatchback is onthuld in 1995 op de Turin Motor Show en verving de Alfa Romeo 33.
					De auto heeft een benzinemotor en levert een maximum vermogen van 144 pk. 
					Het gemiddeld verbruik bedraagt 8,2 l/100km.
				</p>			
			</article>
			<article>
				<h4 class="text"> Personal History </h4>
				<p class="text">
					Ik heb op mijn 18e verjaardag mijn rijbewijs gehaald. 
					3 maanden later had ik deze auto op mijn naam staan. 
					Hier heb ik veel in geleerd en tijd in doorgebracht.
				</p>
				<figure>
					<img src="img/alfa_romeo_146_tuned1.jpg" class="hobby_img_left" " alt="image not readable">
					<img src="img/alfa_romeo_146_tuned2.jpg" class="hobby_img_right" alt="image not readable">
				</figure>
			</article>
			<article>
				<ul class="tabel">
					<li><strong>Nieuwprijs:</strong> €18.355</li>
					<li><strong>Introductie:</strong>Mei 1998</li>
					<li><strong>Topsnelheid:</strong> 209km/h</li>
					<li><strong>Vermogen:</strong> 106 kW / 144 pk</li>
					<li><strong>Acceleratie 0-100:</strong> 9,3 sec</li>
					<li><strong>Massa:</strong> 1200 KG</li>
				</ul>
			</article>
		</section>
	</main>

	</body>
</html>