<!DOCTYPE html>
<html>
	<head>
		<title>Ford</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="icon" type="image/x-icon" href="img/icon.ico">
	</head>
	<body>
	<header>
		<h1 class="title"> <a href="index.html">Car News</a></h1>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="hobby.html">My Hobby</a></li>
				<li><a href="news.html">News</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<a onclick="window.history.back()">
				<img src="img/back_button.png" id="back" alt="img not readable"></a>
			<article>
				<h1>Ford Mustang GT</h1>
				<h4 class="text">Informatie</h4>
				<p class="text">
					De auto heeft een benzinemotor en levert een maximum vermogen van 421 pk. 
					Het gemiddeld verbruik bedraagt 13,5 l/100km.
					Door de sportieve uitstraling gaat hij door voor een sportauto,
					maar het interieur laat een totaal andere kant zien van deze auto.
				</p>
			</article>
			<article>
				<h4 class="text">Personal Dream</h4>
				<p class="text">
					Het Americaanse pronk stuk is altijd een droom geweest van mij. 
					Vooral nu de nieuwe uitvoering met de strakke stroomlijning en het mooie geluid.
				</p>
				<figure>
					<img src="img/ford_mustang_tuned1.jpg" class="hobby_img_left" alt="image not readable">
					<img src="img/ford_mustang_tuned2.jpg" class="hobby_img_right" alt="image not readable">
				</figure>
			</article>
			<article>
				<li><strong>Nieuwprijs:</strong> €118.710</li>
				<li><strong>Introductie:</strong> Maart 2015</li>
				<li><strong>Topsnelheid:</strong> 250km/h</li>
				<li><strong>Vermogen:</strong> 310 kW / 421 pk</li>
				<li><strong>Acceleratie 0-100:</strong> 4,8 sec</li>
				<li><strong>Massa:</strong> 1.620 KG</li>
			</article>
		</section>
	</main>
	</body>
</html>