<!DOCTYPE html>
<html>
	<head>
		<title>Hobby</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="icon" type="image/x-icon" href="img/icon.ico">
	</head>
	<body>
	<header>
		<h1 class="title"> <a href="index.html">Car News</a></h1>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a class="active" href="hobby.html">My Hobby</a></li>
				<li><a href="news.html">News</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<article>
				<h1>Mijn Hobby</h1>
				<p class="text">
					Al vanaf dat ik een peuter was heb ik veel met auto's gehad. Het begon met de bekende "Hot Wheels". Hier heb heel lang mee gespeeld en verzameld.
				</p>
				<p class="text">
					Op mijn 17e levensjaar heb ik voor mijn verjaardag dan ook mijn eerste rijles gehad. 
					Dit verliep allemaal vlekkeloos en heb ik mijn rijbewijs gehaald in het eind van januari 2014.
					Ik heb dan ook een maand na mijn rijbewijs mijn eerste auto gekocht en dit was de 
						<a class="text_link" href="alfa_romeo.html"> Alfa Romeo 146 </a>. 
					Hier heb ik veel in geleerd en heb ik 3 jaar plezier van gehad.
				</p>
				<p class="text">
					Na 3 jaar plezier wou ik iets anders, een vriend van mij kwam dan ook met een leuk aanbod. 
					Hij had een 
						<a class="text_link" href="toyota.html"> Toyota Celica </a> 
					te koop staan. 
					Ik heb dat altijd al een mooie auto gevonden dus ik nam het aanbod met open armen aan. 
					Door mijn snelle beslissing om mijn alfa te verkopen en een nieuwe uitdaging aan te gaan 	met deze celica heb ik veel te voorduren gehad. 
					Er is heel veel vernieuwd inmiddels en er zijn nogsteeds puntjes waar ik niet helemaal tevreden over ben. 
					Toch heb ik geen moment spijt gehad van mijn keuze's aangezien ik met veel plezier altijd rond heb gereden.
				</p>
				<p class="text">
					Ik zou graag een keer in me leven naar america gaan en daar een rond reis maken in een 
						<a class="text_link" href="ford.html"> Ford Mustang GT </a>. 
					Deze auto heeft rond de 500pk en het extrieur is precies wat ik mooi vind.
				</p>
				<p class="text">
					Als droom heb ik altijd een 
						<a class="text_link" href="porsche.html"> Porsche 911 GT3 RS</a> willen hebben.
					Dit type auto heeft een degelijk interieur en maakt het af met het typische Porsche extrieur wat iedereen wel kent.
					De mooie ronde vormen welke dienen voor een goede stroomlijning maar ook voor het perfecte plaatje.
				</p>
			</article>
		</section>
	</main>
	</body>
</html>