<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="icon" type="image/x-icon" href="img/icon.ico">
	</head>
	<body>
	<header>
		<h1 class="title"> <a href="index.html">Car News</a></h1>
		<nav>
			<ul>
				<li><a class="active" href="index.html">Home</a></li>
				<li><a href="hobby.html">My Hobby</a></li>
				<li><a href="news.html">News</a></li>
			</ul> 
		</nav>
	</header>
	<main>
		<section>
			
			<article>
				<h1>Cars</h1>
				<ul class="parent">
					<li class="child"> 
						<a href="alfa_romeo.html"> 
							<img src="img/alfa_romeo_146_front.jpg" class="cars-img" alt="image not readable"></a>
						<h3>Alfa Romeo 146</h3>
						<a href="alfa_romeo.html" class="cars_link">lees meer ></a>
						<h5>Een vijf deurs familie auto</h5>
					</li>				
				  	<li class="child">
				 		<a href="toyota.html">
				  			<img src="img/toyota_celica_front.jpg" class="cars-img" alt="image not readable"></a>
		  				<h3>Toyota Celica</h3>
		  				<a href="toyota.html" class="cars_link">lees meer ></a>
		  				<h5>Een 3 deurs Japanse sportauto</h5>
		  			</li>
		  			<li class="child">
		  				<a href="ford.html">
		  					<img src="img/ford_mustang_front.jpg" class="cars-img" alt="image not readable"></a>
		  				<h3>Ford Mustang GT</h3>
		  				<a href="ford.html" class="cars_link">lees meer ></a>
		  				<h5>Een 3 deurs Americaanse sportauto</h5>
					</li>
		  			<li class="child">
		  				<a href="porsche.html">
		  					<img src="img/porsche_911gt_front.jpg" class="cars-img" alt="image not readable"></a>
		  				<h3>Porsche 911 GT3 RS</h3>
		  				<a href="porsche.html" class="cars_link">lees meer ></a>
		  				<h5>Een 3 dears Italiaanse sportauto</h5>
					</li>
				</ul>
			</article>
			
		</section>
		<aside>
			<a href="https://abonnement.autoweek.nl/Home/metkorting">
				<img src="img/banner1.jpg" id="banner" alt="image not readable"></a>
		</aside>
	</main>
	</body>
</html>