<!DOCTYPE html>
<html>
	<head>
		<title>Porsche 911 GT3</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="icon" type="image/x-icon" href="img/icon.ico">
	</head>
	<body>
	<header>
		<h1 class="title"> <a href="index.html">Car News</a></h1>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="hobby.html">My Hobby</a></li>
				<li><a href="news.html">News</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<a onclick="window.history.back()"> 
				<img src="img/back_button.png" id="back" alt="img not readable"></a>
	
			<article>
			<h1>Porsche 911 GT3 RS</h1>
			<h4 class="text">Informatie</h4>
				<p class="text">
					De auto heeft een benzinemotor en levert een maximum vermogen van 500 pk. 
					Het gemiddeld verbruik bedraagt 12,7 l/100km.
				</p>
				
			</article>
			<article>
				<h4 class="text">Personal Dream</h4>
				<p class="text">
					De andere jeugd droom van mij is altijd deze porsche 911 geweest.
					Het model van deze auto is in de jaren redelijk hetzelfde gebleven maar de power enorm verbeterd.
					De motor heeft 500pk en trekt dan ook in sneller dan 4sec op van 0 tot 100km/h.
					Ik zou zo graag eens het gevoel van deze auto mee willen maken door middel van een proefrit, 
					maar dit is bijna onmogelijk om voor elkaar te krijgen.
				</p>
				<figure>
					<img src="img/porsche_911_tuned1.jpg" class="hobby_img_left"  alt="image not readable">
					<img src="img/porsche_911_tuned2.jpg" class="hobby_img_right"  alt="image not readable">
				</figure>
			</article>
			<article>
				<li><strong>Nieuwprijs:</strong> €248.600</li>
				<li><strong>Introductie:</strong> Juni 2015</li>
				<li><strong>Topsnelheid:</strong> 310km/h</li>
				<li><strong>Vermogen:</strong> 368 kW / 500 pk</li>
				<li><strong>Acceleratie 0-100:</strong> 3,3 sec</li>
				<li><strong>Massa:</strong> 1.395 KG</li>
			</article>
		</section>
	</main>
	</body>
</html>