<!DOCTYPE html>
<html>
	<head>
		<title>Toyota</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="icon" type="image/x-icon" href="img/icon.ico">
	</head>
	<body>
	<header>
		<h1 class="title"> <a href="index.html">Car News</a></h1>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="hobby.html">My Hobby</a></li>
				<li><a href="news.html">News</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<a onclick="window.history.back()"> 
				<img src="img/back_button.png" id="back" alt="img not readable"></a>
			<article>
				<h1>Toyota Celica 1999</h1>
				<h4 class="text">Informatie</h4>
				<p class="text">
					De Toyota Celica is het sportmodel van Toyota vanaf 1970 tot 2006. 
					Het model uit 1999 is de zevende generatie van de Celica.
					De auto heeft een benzinemotor en levert een maximum vermogen van 143 pk. 
					Het gemiddeld verbruik bedraagt 7,7 l/100km.
				</p>				
			</article>
			<article>
				<h4 class="text">Personal History</h4>
				<p class="text">
					Mijn liefde voor een Toyota Celica is er altijd al geweest. 
					Hierdoor heb ik ook zonder te aarzelen het aanbod van een vriend aangenomen toen hij zijn Celica verkocht.
					Ik heb deze toen gekocht voor €4.000,-.
					Na een week erin gereden te hebben begonnen er allerlei lampjes te branden op mijn dashboard.
					Dit heeft een tijdje geduurd en na veel vervangen te hebben ben ik nu op het punt dat zo goed als alles nieuw is en het genieten kan gaan beginnen.
				</p>
				<figure>
					<img src="img/toyota_celica_tuned1.jpg" class="hobby_img_left" alt="image not readable">
					<img src="img/toyota_celica_tuned2.jpg" class="hobby_img_right" alt="image not readable">
				</figure>
			</article>
			<article>
				<ul class="tabel">
					<li><strong>Nieuwprijs:</strong> €27.150</li>
					<li><strong>Introductie:</strong> November 1999</li>
					<li><strong>Topsnelheid:</strong> 205km/h</li>
					<li><strong>Vermogen:</strong> 105 kW / 143 pk</li>
					<li><strong>Acceleratie 0-100:</strong> 8,7 sec</li>
					<li><strong>Massa:</strong> 1.075 KG</li>
				</ul>
			</article>
		</section>
	</main>
	</body>
</html>